@model IEnumerable<SCM.UI.Models.DTOs.Approves.ApproveDTO>

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/SuperAdmin/Views/_Layout.cshtml";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApproverRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproverRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedBy)
            </td>
            <td>
                    @Html.ActionLink("Güncelle", "Edit","SuperAdminApprove", new { Area="SuperAdmin", id=item.Id }, new{@class="btn btn-success"})
                    <a href="#" data-id="@item.Id" class="btn btn-danger btnDelete">Reddet</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>

        $().ready(function () {
            $(".btnDelete").click(function () {
                var id = $(this).attr('data-id')
                console.log(id)
                $.ajax({
                    type: "REJECT",
                    url: "/superadmin/adminapprove/reject/" + id,
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        console.log(response)
                        if (response.success) {
                            var tdClassName = "tr-" + id
                            $("." + tdClassName).fadeOut('slow', function () {
                                $(this).remove()
                            })
                        } else {
                            alert(response.errors[0])
                        }
                    },
                    error: function (response) {
                        alert('İstek esnasından sonucu taraflı bir hata oluştu.')
                    }
                })
            })
        })

    </script>
}