@model IEnumerable<SCM.UI.Models.DTOs.Categories.CategoryDTO>

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Kategoriler</h1>

<p>
    <a asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Category", new { item.Id }) |
                    @Html.ActionLink("Details", "Category", new {  id=item.Id }) |
                    @Html.ActionLink("Delete", "Category", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
